body {
  padding: 50px 0;
}

body > header {
	margin-bottom: 10px;
}

.navbar {
	margin:0;
}

#filters {
	padding: 10px 0;
}

#filters > .row > * {
  padding: 15px 20px 0;
  box-sizing: border-box;
}

#filters > .row {
  border:1px solid #999;
	margin: 0 10px 10px 0;

}

summary {
	margin:10px;
	cursor: pointer;
	outline-width: 0;
}

#results-container, #details-container {
	display:flex;
}

#results, #details {
	width: 60%;
}

#results header, #details header {
	margin: 0 0 20px;
	border-bottom: 1px solid #ccc;
	width: 95%;

}

#details {
	margin-top:20px;
}

#map {
	width: 60%;
}
#map > * {
	position: fixed;
	height:90vh;
	width: 50%;
}

.grades h4 {
	margin-bottom: 20px;
}
.grades {
	border-bottom: 1px solid #ccc;
	margin-bottom:10px;
}
.grade {
	border-radius: 100%;
	display: inline-block;
  width: 30px;
  height: 30px;
  vertical-align: middle;
  text-align: center;
  padding-top: 3px;
  border:1px solid #000;
  color: #FFF;
}

.grade, .score {
	font-size:20px;
}

.grade.A { background: #34a853; }
.grade.B { background: #4285f4; }
.grade.C { background: #fbbc05; }
.grade.D { background: #ea4335; }
.grade { background: #000; }

.score.A { color: #34a853; }
.score.B { color: #4285f4; }
.score.C { color: #fbbc05; }
.score.D { color: #ea4335; }

#preview-image {
	background-image: url('/img/dummy-img.jpg');
	border:1px solid #ccc;
	width: 100%;
	height: 200px;
	background-size: cover;
	background-position: center center;
	margin-top:10px;
}

/* navbar login box */
 /* Special class on .container surrounding .navbar, used for positioning it into place. */
.navbar-wrapper {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  z-index: 20;
  margin-top: 20px;
}

/* Flip around the padding for proper display in narrow viewports */
.navbar-wrapper .container {
  padding-left: 0;
  padding-right: 0;
}
.navbar-wrapper .navbar {
  padding-left: 15px;
  padding-right: 15px;
}

.navbar-content
{
    width:320px;
    padding: 15px;
    padding-bottom:0px;
}
.navbar-content:before, .navbar-content:after
{
    display: table;
    content: "";
    line-height: 0;
}
.navbar-nav.navbar-right:last-child {
margin-right: 15px !important;
}
.navbar-footer
{
    background-color:#DDD;
}
.navbar-footer-content { padding:15px 15px 15px 15px; }

/* typeahead */
#boroughs {
	display: inline-block;
	margin-top: 7px;
}
#cuisines .dropdown-menu {
	display: inline-table;
  opacity: 1;
  transform: scale(1);
}

#log-in, #register {
  margin: 10px;
}

.form-signin {
  padding: 20px;
}
.form-signin h3 {
  margin-bottom:20px;
}
.form-signin a {
  cursor:pointer;
}
.form-signin a.close {
  display:block;
  text-align: right;
}

#profile-box .navbar-footer {
  margin-top: 10px;
}

#profile-box .profile_image {
  border:1px solid #ccc;
}

#edit-profile legend {
  margin-bottom:20px;
}

.facebook span {
  padding: 0 50px;
}

.linkedin span {
  padding: 0 55px;
}

#edit-profile input {
  color: #000;
}

#edit-profile .buttons-section {
  margin-top: 40px;
}

#edit-profile .avatar {
  margin-bottom:20px;
  width:200px;
  heght:200px;
}