<nav class="navbar navbar-default" role="navigation">
	<div class="container">
		<!-- Brand and toggle get grouped for better mobile display -->
		<div class="navbar-header">
			<button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
				<span class="sr-only">Toggle navigation</span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
			</button>
			<a class="navbar-brand" href="#/">Resturants Finder</a>
		</div>

		<form ng-controller="SearchCtrl" class="navbar-form navbar-right" role="search">
			<div class="form-group">
				<label for="borough">Select neighborhood...</label>
				<!-- <input  type="text" class="form-control" placeholder="Type a neighborhood..." list="boroughs"> -->
				<select id="boroughs" ng-change="getByBorough($event)" ng-model="borough">
				  <option ng-repeat="borough in boroughs">{{ borough }}</option>
				</select>
			</div>
			<!-- <button type="submit" ng-click="searchItems($event)" class="btn btn-default">Search</button> -->
		</form>
		<!-- Collect the nav links, forms, and other content for toggling -->


		<!-- <div class="collapse navbar-collapse navbar-ex1-collapse">
			<ul class="nav navbar-nav">
				<li class="active"><a href="#/">Home</a></li>
				<li><a href="#/results">Results</a></li>
			</ul>
		</div> -->

		<!-- /.navbar-collapse -->
	</div>
</nav>