body {
  min-height: 2000px;
  padding-top: 50px;
}

.navbar {
	margin:0;
}

#results-container {
	display:flex;
}

#results {
	width: 60%;
}

#results header {
	margin: 40px 0 20px;
	border-bottom: 1px solid #ccc;
	width: 95%;
}

#map {
	width: 60%;
}
#map > * {
	position: fixed;
	height:90vh;
	width: 50%;
}