<form class="form-signin" ng-submit="login()">
    <a class="close" ng-click="cancel()">[X]</a>
    <h3 class="form-signin-heading">Please Log in</h3>

    <div class="alert alert-danger" ng-show="error.message">
      <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
      <p><strong>{{ error.message }}</strong></p>
      <p>Please try again...</p>
    </div>

    <div  class="form-group" ng-class="{ 'has-error': error.message }">
      <label for="inputUsername" >Username</label>
      <input type="text" id="inputUsername" class="form-control" placeholder="UserName..." required autofocus ng-model="user.username">
    </div>
    <div  class="form-group" ng-class="{ 'has-error': error.message }">
      <label for="inputPassword" >Password</label>
      <input type="password" id="inputPassword" class="form-control" placeholder="Password..." required ng-model="user.password">
    </div>
    <div class="form-group">
      <label>
        <input type="checkbox" value="true" ng-model="rememberMe"> Remember me
      </label>
    </div>
    <div  class="form-group">

      <button class="btn btn-lg btn-primary active" ng-click="save()">Log in</button>
      <p class="text-right">Or <strong><a href="#/register">Sign up</a></strong> if still don't have an user</p>

    </div>
  </form>
