<form class="form-signin" ng-submit="loginUser()">
    <a class="close" ng-click="cancel()">[X]</a>
    <h3 class="form-signin-heading">Please Log in</h3>

    <div class="alert alert-danger ng-hide" ng-show="error.message">
      <button type="button" class="close" data-dismiss="alert" ng-click="error.message = null" aria-hidden="true">&times;</button>
      <p><strong>{{ error.message }}</strong></p>
      <p>Please try again...</p>
    </div>

    <div  class="form-group" ng-class="{ 'has-error': error.message }">
      <label for="inputUsername" >Username</label>
      <input type="text" id="inputUsername" class="form-control" placeholder="UserName..." required autofocus ng-keypress="error.message = null" ng-model="user.username">
    </div>
    <div  class="form-group" ng-class="{ 'has-error': error.message }">
      <label for="inputPassword" >Password</label>
      <input type="password" id="inputPassword" class="form-control" placeholder="Password..." required ng-keypress="error.message = null" ng-model="user.password">
    </div>
    <div class="form-group">
      <label>
        <input type="checkbox" ng-model="rememberMe"> Remember me
      </label>
    </div>
    <div  class="form-group">
      <button class="btn btn-lg btn-primary btn-block active" type="submit">Log in</button>
    </div>
  </form>
