<div id="details-container">

	<div id="details">
		<header>

			<h2><a href="">{{ restaurant.name }}</a> </h2>
			<h5>Borough: <strong><a ng-href="#/borough/{{ restaurant.borough }}">{{ restaurant.borough }}</a></strong></h5>
			<h5>Cuisine: <a ng-href="#/cuisines/{{ restaurant.cuisine }}"><strong>{{ restaurant.cuisine }}</strong></a></h5>
			<p>{{ restaurant.address.street }}, {{ restaurant.address.building }} | {{ restaurant.address.zipcode }}</p>

		</header>

		<div class="grades">

			<h4>Grades:</h4>
			<ul class="list-unstyled">
				<li ng-repeat="g in restaurant.grades">
					<h5>
						<span class="grade" ng-class="g.grade">{{g.grade}}</span>
						<span class="score" ng-class="g.grade">{{g.score}}</span>
						<small class="date">{{ g.date | date:'dd/MM/yyyy' }}</small>
					</h5>
				</li>
			</ul>

		</div>

		<div ng-if="isAdmin()">
			<a href="#/edit/{{ restaurant._id }}" class="btn btn-raised btn-primary">Edit Restaurant</a>
		</div>

	</div>

	<div id="map" >
	  <ng-map id="details-map" center="40.579505,-73.98241999999999" zoom="10"></ng-map>
	</div>

</div>