<div id="edit-profile">
  <h1 class="page-header">Edit Profile: {{loggedUser.username}}</h1>
  <div class="row">
    <div class="alert alert-success ng-hide" ng-show="message">
      <button type="button" class="close" data-dismiss="alert" ng-click="message = null" aria-hidden="true">&times;</button>
      <p><strong>{{ message }}</strong></p>
    </div>

    <!-- left column -->
    <div class="col-md-4">
      <div class="text-center">
        <img ng-src="{{ loggedUser.image }}" class="avatar img-circle img-thumbnail">
        <h6>Upload a different photo...</h6>
        <input type="file" custom-on-change="uploadImage"/>
        <!-- <input type="file" class="text-center center-block well well-sm"> -->
      </div>
    </div>
    <!-- edit form column -->
    <div class="col-md-offset-1 col-md-7">
      <!-- <div class="alert alert-info alert-dismissable">
        <a class="panel-close close" data-dismiss="alert">×</a>
        <i class="fa fa-coffee"></i>
        This is an <strong>.alert</strong>. Use this to show important messages to the user.
      </div> -->
      <!-- <h3>Personal info</h3> -->
      <form class="form-horizontal" role="form" ng-submit="updateData(); $event.preventDefault()">
        <legend>Personal</legend>
        <div class="form-group">
          <label class="col-md-3 control-label">Username:</label>
          <div class="col-md-9">
            <input class="form-control" ng-model="loggedUser.username" type="text">
          </div>
        </div>
        <div class="form-group">
          <label class="col-md-3 control-label">Full name:</label>
          <div class="col-md-9">
            <input class="form-control" ng-model="loggedUser.fullname" placeholder="John Doe" type="text">
          </div>
        </div>
        <div class="form-group">
          <label class="col-md-3 control-label">Email:</label>
          <div class="col-md-9">
            <input class="form-control" ng-model="loggedUser.email" type="text">
          </div>
        </div>
        <legend>Social</legend>
        <div class="form-group twitter">
          <label class="col-md-3 control-label">Twitter:</label>
          <div class="col-md-8">
            <div class="input-group">
              <span class="input-group-addon" id="sizing-addon2">@</span>
              <input type="text" ng-model="loggedUser.social.twitter" class="form-control" placeholder="johndoe" aria-describedby="sizing-addon2">
            </div>
          </div>
        </div>
        <div class="form-group facebook">
          <label class="col-md-3 control-label">Facebook:</label>
          <div class="col-md-8">
            <div class="input-group">
              <span class="input-group-addon" id="sizing-addon2">facebook.com/</span>
              <input type="text" ng-model="loggedUser.social.facebook" class="form-control" placeholder="john.doe" aria-describedby="sizing-addon2">
            </div>
          </div>
        </div>
        <div class="form-group twitter">
          <label class="col-md-3 control-label">Instagram:</label>
          <div class="col-md-8">
            <div class="input-group">
              <span class="input-group-addon" id="sizing-addon2">@</span>
              <input type="text" ng-model="loggedUser.social.instagram" class="form-control" placeholder="johndoe" aria-describedby="sizing-addon2">
            </div>
          </div>
        </div>
        <div class="form-group linkedin">
          <label class="col-md-3 control-label">LinkedIn:</label>
          <div class="col-md-8">
            <div class="input-group">
              <span class="input-group-addon" id="sizing-addon2">linkedin.com/in/</span>
              <input type="text" ng-model="loggedUser.social.linkedin" class="form-control" placeholder="johndoe" aria-describedby="sizing-addon2">
            </div>
          </div>
        </div>
        <div class="form-group buttons-section">
          <label class="col-md-3 control-label"></label>
          <div class="col-md-8">

            <button type="submit" class="btn btn-raised  btn-primary">Save</button>

          </div>
        </div>
      </form>
    </div>
  </div>
</div>