<nav ng-controller="NavBarCtrl" class="navbar navbar-default navbar-fixed-top" role="navigation">
  <div class="container">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="#/">
        <img src="/img/logo-restaurants-finder.png" alt="" class="img-responsive logo-restaurantsFinder">
      </a>
    </div>

    <style>
    </style>

    <ul class="nav navbar-nav  pull-right">
      <li ng-hide="loggedUser">
          <a id="log-in" ng-click="showModalLogin()"  class="btn btn-primary btn-sm active">Log In</a>
      </li>
      <li ng-hide="loggedUser">
          <a id="register" ng-click="showModalRegister()"  class="btn btn-primary btn-sm active">Register</a>
      </li>
      <li id="profile-box" ng-class="isAdmin() ? 'btn-admin' : '' " class="dropdown" uib-dropdown ng-show="loggedUser">
        <a href="#" class="dropdown-toggle" uib-dropdown-toggle role="button" aria-expanded="false"> {{ loggedUser.username }}</a>
        <ul class="dropdown-menu" style="margin:0; padding:0; ">
          <li>
            <!-- navbar-content -->
            <div class="navbar-content">
              <div class="row">
                <div class="col-md-5">
                  <img class="profile_image" ng-src="{{ loggedUser.image }}" width="120">
                  <!-- <img gravatar-src="loggedUser.email" gravatar-size="120"> -->
                  <!-- <img src="http://placehold.it/120x120" alt="Alternate Text" class="img-responsive" /> -->
                  <!-- <p class="small" style="text-align: left;"><a href="#">Change Photo</a></p> -->
                </div>
                <div class="col-md-7">
                  <span>{{ loggedUser.name }}</span>
                  <p class="small">{{ loggedUser.email }}</p>
                  <div class="divider"></div>
                  <a href="#/profile/edit" class="btn btn-primary btn-sm active">Edit Profile</a>
                </div>
              </div>
            </div>

            <div class="navbar-footer">
              <div class="navbar-footer-content">
                <div class="row">
                  <!-- <div class="col-md-6">
                    <a href="#" class="btn btn-default btn-sm">Change Passowrd</a>
                  </div> -->
                  <div class="col-md-12">
                    <button ng-click="logout()" class="btn btn-default btn-raised btn-sm pull-right"><strong>Sign Out</strong></button>
                    <!-- <a href="#" ng-click="logout()" >Sign Out</a> -->
                  </div>
                </div>
              </div>
            </div>

          </li>
        </ul>
      </li>
    </ul> <!-- @end navbar-nav navbar-right -->

    <div class="collapse navbar-collapse navbar-ex1-collapse pull-right" >





  </div>
</nav>